{{>header}}
{{>navbar}}
<body style="background-color: #C8C6C6;">
<section class="studentProfile">
    <div class="container">
        <div class="sideBar">
            <img src="https://i.ibb.co/txHV3T8/login.jpg" alt="login">
            <div class="profile name" id="studentname">{{name}}</div>
            <div class="profile">{{email}}</div>
            <div class="profile enroll">Enrollment ID: {{enrollment}}</div>
            <div class="profile Sname">School Name: {{studentschoolname}}</div>

        </div>
        <div class="info">
            <div class="record1">
                <div class="heading">Books Issued</div>
                <hr style="border-top: 3px solid #2C3333;">
                <div class="row1">
                    <div class="col col1">
                        <div class="title">BOOK NAME</div>
                        <div class="issued">{{book1name}}</div>
                        <div class="issued">{{book2name}}</div>
                        <div class="issued">book1</div>
                        <div class="issued">book1</div>
                        <div class="issued">book1</div>
                        <div class="issued">book1</div>
                    </div>
                    <div class="col col2">
                        <div class="title">ISSUED DATE</div>
                         <div class="issued">{{book1issuedate}}</div>
                        <div class="issued">{{book2issuedate}}</div>
                    </div>
                    <div class="col col3">
                        <div class="title">RETURN DATE</div>
                         <div class="issued">{{book1returndate}}</div>
                        <div class="issued">{{book2returndate}}</div>
                    </div>
                </div>
            </div>
            <div class="record2">
                <div class="row2">
                    <div class="heading">Fine</div>
                    <hr style="border-top: 3px solid #2C3333;">
                    <div class="row1">
                        <div class="col col1">
                            <div class="title">BOOK NAME</div>
                            <div class="issued">book1</div>
                            <div class="issued">book1</div>
                            <div class="issued">book1</div>
                            <div class="issued">book1</div>
                            <div class="issued">book1</div>
                            <div class="title">RETURN DATE</div>
                        </div>
                        <div class="col col2">
                            <div class="title">RETURN DATE</div>
                        </div>
                        <div class="col col3">
                            <div class="title">DATE RETURNED</div>
                        </div>
                        <div class="col col4">
                            <div class="title">AMOUNT</div>
                        </div>
                    </div>
                    <div class="total">TOTAL</div>
                </div>
            </div>
        </div>

    </div>
</section>


</header>


{{>footer}}
