<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<body style="background-color: #C8C6C6;">
<section class="studentProfile">
    <div class="container">
        <div class="sideBar">
            <img src="https://i.ibb.co/txHV3T8/login.jpg" class="profileee" alt="login">
            <div class="profile name" id="studentname"><%=name%></div>
            <div class="profile"><%=email%></div>
            <div class="profile enroll">Enrollment ID: <%=enrollment%></div>
            <div class="profile Sname">School Name: <%=studentschoolname%></div>

            <a href="logoutstudent"><button type="button" name="button" class="butH" style="margin-left:18%;margin-top:4%;">Log out</button></a>

        </div>
        <div class="info">
            <div class="record1">
                <div class="heading">Books Issued</div>
                <hr style="border-top: 3px solid #2C3333;">
                <div class="row1">
                    <div class="col col1">
                        <div class="title">BOOK NAME</div>
                        <% for(var i = 0; i< a.length; i++){%>
                            <div class="issued"><%= a[i]%></div>
                            <% }
                        %>


                    </div>
                    <div class="col col2">
                        <div class="title">ISSUED DATE</div>
                        <% for(var i = 0; i< b.length; i++){%>
                            <%var month=b[i].getMonth()+1;%>

                            <div class="issued"><%=b[i].getDate() +"-"+month+"-"+b[i].getFullYear()%></div>
                            <% }
                        %>

                    </div>
                    <div class="col col3">
                        <div class="title">RETURN DATE</div>
                        <% for(var i = 0; i< c.length; i++){%>
                            <%var month=c[i].getMonth()+1;%>

                            <div class="issued"><%=c[i].getDate() +"-"+month+"-"+c[i].getFullYear()%></div>
                            <% }
                        %>

                    </div>
                </div>
            </div>
            
        </div>

    </div>
</section>


</header>


<%- include('../partials/footer.ejs') %>
